<section class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="images/myself.jpeg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                    <h2>About <strong>Me</strong></h2>
                </div>
                <p class="lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language
                    ocean.</p>
                <p class="mb-5  ">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>

                <p>
                    <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                    <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
                </p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-3 mb-3">
                <div class="section-heading">
                    <h2>My <strong>Skills</strong></h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="skill">
                    <h3>Backend</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>95%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Frontend</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>55%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Database</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>95%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Team Management</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>90%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Web</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Mobile</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>92%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>