<section class="site-section bg-light" id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2>Wanna <strong>Start Work</strong> With Me?</h2>
                </div>
            </div>


            <div class="col-md-12 mb-5 text-center">
                <h3 class="mb-5">My Contact Details</h3>
                <ul class="site-contact-details">
                    <li>
                        <span class="text-uppercase">Email</span>
                        serorellanar@gmail.com
                    </li>
                    <li>
                        <span class="text-uppercase">Phone</span>
                        +56 9 74241612
                    </li>
                    <li>
                        <span class="text-uppercase">City</span>
                        Maipú, Santiago <br>
                        Chile
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>