<section class="site-section" id="section-features">
    <div class="container">

        <div class="row">
            <div class="col-md order-md-3">
                <img src="images/mobile_development.png" alt="" class="img-fluid">
            </div>

            <div class="col-md-2 order-md-2">
            </div>

            <div class="col-md-6 order-md-1">
                <h3 class="mb-3">Mobile development</h3>
                <p align="justify">Thanks to Dart & Flutter i can develop fast, functional and responsive native mobile
                    apps, i consider myself as an advanced Flutter developer and i feel that i can make any idea come
                    true. I can deploy apps for every mobile OS.</p>

                <ul class="site-list">
                    <li class="site-check">Native development</li>
                    <li class="site-check">Beautiful designs</li>
                    <li class="site-check">Android support</li>
                    <li class="site-check">iOS support</li>
                </ul>
            </div>
        </div>

        <div class="row site-section">
            <div class="col-md-6">
                <p><img src="https://codecondo.com/wp-content/uploads/2017/09/What-is-back-end-development.jpg" alt=""
                        class="img-fluid"></p>
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-4">
                <h3 class="mb-3">Backend development</h3>
                <p align="justify">I started my developer journey working with C#, i started with backend development on
                    web apps, then move to desktop development (Windows services, firewall rules, etc), and then with
                    WebServices development, with the time, my curiosity made me learn Node.JS and is another tool that
                    i'm using a lot. In general i love backend because depending on what should be done, it can be
                    really challenging sometimes.</p>

                <ul class="site-list">
                    <li class="site-check">Solid knowledge of databases (SQL and No-SQL)</li>
                    <li class="site-check">Solid knowledge of C# and NodeJS</li>
                    <li class="site-check">Applicable knowledge to every platform</li>
                    <li class="site-check">Backend challenges are inspirational for me</li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-3">
                <img src="images/OrellanaLogo.png" alt="" class="img-fluid">
                <br>
                <p align="center"> <i>Art by: Danae Lobos</i></p>
            </div>
            <div class="col-md-2 order-md-2">
            </div>
            <div class="col-md-6 order-md-1">
                <h3 class="mb-3">My Logo</h3>
                <p align="justify">You will see my logo on every app that i've created, such as <a
                        href="https://play.google.com/store/apps/details?id=com.serorellanar.chilemergencias"><i>Chilemergencias</i></a>
                    or <a href="https://play.google.com/store/apps/details?id=com.serorellanar.humankindvirtue"><i>Humankind
                            Virtue</i></a></p>

                <ul class="site-list">
                    <li class="site-check">Easy to recognize</li>
                    <li class="site-check">Beautiful design</li>
                    <li class="site-check">Black and white minimalist version of a Nova fusion</li>
                </ul>
            </div>
        </div>


    </div>
</section>