<section class="site-section" id="section-features">
    <div class="container">
        <div class="row site-section">
            <div class="col-md-8">
                <p><img src="images/laptop_1.jpg" alt="" class="img-fluid"></p>
            </div>
            <div class="col-md-4">
                <h3 class="mb-3">Big Benefits for Small Business</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One
                    day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
                    of
                    Grammar.</p>

                <ul class="site-list">
                    <li class="site-check">Pointing has no control</li>
                    <li class="site-check">A small river named Duden flows</li>
                    <li class="site-check">Roasted parts of sentences fly into your mouth</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 order-md-2">
                <p><img src="images/laptop_1.jpg" alt="" class="img-fluid"></p>
            </div>
            <div class="col-md-4 order-md-1">
                <h3 class="mb-3">All in One Place</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One
                    day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
                    of
                    Grammar.</p>

                <ul class="site-list">
                    <li class="site-check">Pointing has no control</li>
                    <li class="site-check">A small river named Duden flows</li>
                    <li class="site-check">Roasted parts of sentences fly into your mouth</li>
                </ul>
            </div>
        </div>


    </div>
</section>