<section class="site-section border-top pb-0" id="section-whatDoIKnow">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Things that i <strong>Work with</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/120/000000/flutter.png"></span>
                    </span>
                    <h3 class="mb-4">Flutter</h3>
                    <p>Flutter is Google’s UI toolkit for building beautiful, natively compiled applications for mobile(Android and iOS), web, and desktop from a single codebase.</p>
                    <p><a href="https://flutter.dev/" class="site-link">Flutter official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="images/dart_icon.png"></span>
                    </span>
                    <h3 class="mb-4">Dart</h3>
                    <p>Dart is a client-optimized language for fast apps on any platform developed by Google</p>
                    <p><a href="https://dart.dev/" class="site-link">Dart official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/100/000000/nodejs.png"></span>
                    </span>
                    <h3 class="mb-4">Node.js</h3>
                    <p>Node.js (Node) is an open source development platform for executing JavaScript code server-side.</p>
                    <p><a href="https://nodejs.org/" class="site-link">NodeJS official page <i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/144/000000/c-sharp-logo.png"></span>
                    </span>
                    <h3 class="mb-4">C#</h3>
                    <p>C# (C-Sharp) is a programming language developed by Microsoft, it is used to develop web apps, desktop apps, mobile apps, games and much more.</p>
                    <p><a href="https://www.microsoft.com/es-cl" class="site-link">Microsoft official page <i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/144/000000/java-coffee-cup-logo.png"></span>
                    </span>
                    <h3 class="mb-4">Java</h3>
                    <p>Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible.</p>
                    <p><a href="https://www.java.com/" class="site-link">Java official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/100/000000/javascript.png"></span>
                    </span>
                    <h3 class="mb-4">JavaScript</h3>
                    <p>JavaScript is an interpreted programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm</p>
                    <p><a href="https://www.ecma-international.org/" class="site-link">ECMAscript official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/100/000000/microsoft-sql-server.png"></span>
                    </span>
                    <h3 class="mb-4">Sql Server</h3>
                    <p>Microsoft SQL Server is a relational database management system developed by Microsoft</p>
                    <p><a href="https://www.microsoft.com/en-us/sql-server/default.aspx" class="site-link">Sql Server official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/color/100/000000/mongodb.png"></span>
                    </span>
                    <h3 class="mb-4">MongoDB</h3>
                    <p>MongoDB is an open source No-SQL database management system (DBMS) that uses a document-oriented database model</p>
                    <p><a href="#" class="site-link">MongoDB official page<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                    <span class="icon">
                        <span><img src="https://img.icons8.com/ios-glyphs/100/000000/ellipsis.png"></span>
                    </span>
                    <h3 class="mb-4">More</h3>
                    <p>And a lot of more things, like Python, Oracle databases, MySQL, .Net framework, GIT, HTML5, Firebase, Cloud Computing, REST WebServices, etc. You can check them out on my developed projects at my<a href="https://github.com/SergioOrellanaR"></a> Github profile!</p>
                    <p><a href="https://github.com/SergioOrellanaR" class="site-link">My GitHub profile<i class="icon-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>