{{#if downloadServices}}
<section class="site-section" id="section-downloadable">
        <div class="section-heading text-center col-md-12">
            <h2>Available <strong>on</strong></h2>
        </div>
        <div class="container">
            <div class="row">
                {{#each downloadServices}}
                <div class="col-sm col-sm text-center mb-5">
                    <span class="icon">
                        <a href={{this.url}}><span><img src={{this.icon}} /></span></a>
                    </span>
                    <h6 class="mb-6">{{this.name}}</h6>
                </div>
                {{/each}}
            </div>
        </div>
</section>
{{/if}}