<section class="site-section" id="section-images">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <h2>Image <strong>Gallery</strong></h2>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(images/p1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/p2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/p3.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/p4.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/p5.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/p6.jpg)"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination">
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>



    </div>





    </div>
</section>