{{#if secondaryImagesUrl}}
<section class="site-section" id="section-images">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <h2>Image <strong>Gallery</strong></h2>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each secondaryImagesUrl}}
                <div class="swiper-slide" style="background-image:url({{this}})"></div>
                {{/each}}
            </div>

            <div class="swiper-pagination">
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

{{/if}}