<nav class="navbar navbar-expand-lg site-navbar navbar-dark bg-secondary" id="pb-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="icon-home"></span></a>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#section-title">Description</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-platforms">Platforms</a></li>
                {{#if credits}}
                <li class="nav-item"><a class="nav-link" href="#section-credits">Credits</a></li>
                {{/if}}
                <li class="nav-item"><a class="nav-link" href="#section-images">Images</a></li>
                {{#if gitHubLink}}
                <li class="nav-item"><a class="nav-link" href="#section-gitHub">Git Repository</a></li>
                {{/if}}
                <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>