<section class="site-section " id="section-title">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg order-md-3">
                    <img src={{ mainImageUrl }} alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 order-md-1">
                    <h1 class="mb-1">{{ projectCompleteName  }}</h1>
                    <br>
                    <p align="justify">{{ projectDescription }}</p>
                    <br>
                </div>
            </div>

        </div>
    </div>
</section>