<h1>Hello world</h1>

<br>
projectName: {{ projectName }}
<br>
projectName: {{ projectInformation.completeName }}
<br>
mainImageUrl: {{ projectInformation.mainImageUrl }}
<br>
platforms: {{ projectInformation.platforms }}