<section class="site-section" id="section-title">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg order-md-3">
                <img src={{ mainImageUrl }} alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 order-md-1">
                <h3 class="mb-3">{{ projectCompleteName  }}</h3>
                <p align="justify">Thanks to Dart & Flutter i can develop fast, functional and responsive native mobile
                    apps, i consider myself as an advanced Flutter developer and i feel that i can make any idea come
                    true. I can deploy apps for every mobile OS.</p>
            </div>
        </div>

    </div>
</section>