<div class="container">
    <img src="images/404.png" class="img-fluid" />
    <div>
        <br>
        <p>Page not found</p>
        <p>Do you want to go <a href="/">home</a>?</p>
    </div>
</div>