<section class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="images/myself.jpeg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                    <h2>About <strong>Me</strong></h2>
                </div>
                <p class="lead">
                    Sergio Leonel Orellana Rey, Software Engineer</p>
                <p class="mb-5  ">I'm a tall man that currently lives in Santiago, Chile. 
                    <br/>
                    <br/>
                    My specialty is mobile (as i use Flutter, i develop for both, Android and iOS) and backend development.
                    <br/>
                    <br/>
                    i'm a person that really love and feel passionate about his job. I always give my highest effort to deliver the better possible product, that's the reason why i try to increase my knowledge day by day.
                    <br/>
                    <br/>
                    My hobbies are playing videogames, going out with friends, developing funny own projects, playing tennis and resolve all kind of puzzle games.
                    <br/>
                    <br/>
                    I love cats and winter evenings with coffe with good company.
                    <br/>
                    <br/>
                    My dream is to leave Chile and work on a (hopefully) first world english speaking country.
                </p>

                <p>
                    <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Contact Me</a>
                </p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-3 mb-3">
                <div class="section-heading">
                    <h2>My <strong>Skills</strong></h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="skill">
                    <h3>Backend</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>95%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Frontend</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>60%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Database</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>95%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Team Management</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>90%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Web development</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <h3>Mobile development</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>92%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>