<section class="site-section bg-light " id="section-resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>My <strong>Resume</strong></h2>
        </div>
      </div>
      <div class="col-md-6-center">
        <h2 class="mb-5" align="center">Achievements</h2>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> Final average grade, Ingeniero en informática, December
            2019</span>
          <h3>6,4 Final average grade (English equivalent to a A)</h3>
          <p>I got 6,4 as average when i got my "Ingeniero en informática" (Software engineer) professional degree, i
            obtained the max grade possible on my degree exam.</p>
        </div>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> Toeic Bridge - November 2018 </span>
          <h3>173 / 180 TOEIC Bridge</h3>
          <p>173 of 180 possible on TOEIC Bridge exam, this is a international English level test. </p>
        </div>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> Final average grade, Analista programador, July
            2018</span>
          <h3>6,4 Final average grade (English equivalent to a A)</h3>
          <p>I got 6,4 as average when i got my "Analista programador" (programmer analyst) degree, i obtained the max
            grade possible on my degree exam.</p>
        </div>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> PSU - 2012</span>
          <h3>Best PSU communal score</h3>
          <p>On the 2012 PSU (Prueba de selección universitaria / University Selection Test) i got the best score of my
            commune in Los Vilos. </p>
        </div>


      </div>
    </div>
  </div>
</section>